<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.size%></td>
  <td class="align-middle"><%= link_to t('.show_test'), admin_test_path(test), class: 'btn btn-primary' %></td>
  <td class="align-middle">
    <%= link_to t('.edit_test'),
                edit_admin_test_path(test),
                data: { test_id: test.id },
                class: 'form-inline-link btn btn-warning' %>
  </td>
  <td class="align-middle">
    <%= link_to t('.delete_test'),
                  admin_test_path(test),
                  class: 'btn btn-danger',
                  method: :delete,
                  data: {confirm: 'Are you sure?' } %>
  </td>
</tr>
